<li>
    <% if signed_in? %>
        <% if seen?(@user, movie) %>
            [SEEN]  
        <% end %>
    
    
    <div class="pull-right">
        <% if @user.movies.include? movie and @user.id == current_user.id%>
            <%= link_to "Remove", movie, method: :delete, data: { confirm: "You sure?" } %>
            |
            <% if seen?(@user, movie) %>
              <%= link_to "Un-Seen", unseen_movies_path(:movie_id=>movie.id), :class=>"seen", :remote=>true%>
            <% else %> 
              <%= link_to "Seen", seen_movies_path(:movie_id=>movie.id), :class=>"seen", :remote=>true%>
            <% end %>
        <% elsif !current_user.movies.include? movie %>
            <%= link_to "Add to library", add_to_library_movies_path(:movie_id=>movie.id) %>
        <% end %>
    </div>
    <% end %>
    <%= link_to movie.name, movie %>
</li>
