
<div class="row">
  <div class="span8">
      <% unless @rotten_tomatoes_link.at_css("div.content_body h1").nil? %>
        <% if @rotten_tomatoes_link.at_css("div.content_body h1").text.include? "Search Results" %>
          <% @rotten_tomatoes_link.css("ul#movie_results_ul li.media_block")[0..4].each do |m| %>
              <% title = m.at_css("h3.nomargin").text.force_encoding('ISO-8859-1').encode('UTF-8').strip.gsub("\n", " ").gsub("\t", "") %>
              <% if m == @rotten_tomatoes_link.css("ul#movie_results_ul li.media_block")[0] %>
                  <%= f.radio_button :rotten_tomatoes_url, "http://www.rottentomatoes.com#{m.at_css('h3.nomargin a')['href']}" , :checked=> true %>
              <% else %>
                  <%= f.radio_button :rotten_tomatoes_url, "http://www.rottentomatoes.com#{m.at_css('h3.nomargin a')['href']}" %>
              <% end %>
              <%= label_tag( :movie_title, title) %>
          <% end %>
        <% else %>
          <%= @rotten_tomatoes_link.at_css('h1.movie_title span').text %>
        <% end %>
      <% else %>
        Empty Search Result
      <% end %>
  </div>
  <div class="span8">
    <br>
    Time to get information: <%= @total_time %>
  </div>
</div>
