<% javascript "pagination" %>
<% if !@user.nil? %>
    <ul class="nav nav-tabs" id="movieTab">
        <li><a href="#user_library" data-toggle="tab">User Library</a></li>
        <li><a href="#all_library" data-toggle="tab">All</a></li>
        <li><a href="#test" data-toggle="tab">Test</a></li>
    </ul>

    <div class="tab-content">
        <div id="letter_filter">
          <%= create_alphabet_filter %>
        </div>
        <div class="tab-pane" id="user_library">
            <div class="pull-right">
                Movies Per Page: 
                <%= link_to "10", movies_per_page_users_path(:per_page => 10), :remote=>true%>
                <%= link_to "15", movies_per_page_users_path(:per_page => 15), :remote=>true %>
                <%= link_to "20", movies_per_page_users_path(:per_page => 20), :remote=>true %>
            </div>
            <h3>Your Library</h3>
            <ul class="user_movies">
              <% if @movies.empty? %>
                Your Library is empty. Click the All tab to see what movies have already been added or Add a Movie
              <% end %>
              <%= render @movies %>
              <%= will_paginate @movies, :param_name => 'user_page' %>
            </ul>
            
            <br>
            <%= link_to "Add a Movie", new_movie_path, class: "btn "%>
        </div>

        <div class="tab-pane" id="all_library">
            <div class="pull-right">
                Movies Per Page: 
                <%= link_to "10", movies_per_page_users_path(:per_page => 10), :remote=>true %>
                <%= link_to "15", movies_per_page_users_path(:per_page => 15), :remote=>true %>
                <%= link_to "20", movies_per_page_users_path(:per_page => 20), :remote=>true %>
            </div>
            <h3>All Movies</h3>
            <ul class="all_movies">
              <%= render @all_movies %>
              <%= will_paginate @all_movies, :param_name => 'all_movie_page' %>
            </ul>
            
        </div>

        <div class="tab-pane" id="test">
          <h1><a href="#" id="alert" data-message="Hello from Justin">Click Here</a></h1>

          <script type="text/javascript" charset="UTF-8">
            $(function() {
                $('#alert').click(function(){ 
                  $.jGrowl(this.getAttribute('data-message'));
                  return false;
                })
            });
          </script>
        </div>
        

    </div>
    <script type="text/javascript">
        window.onbeforeunload = function () {
            var form = $('.all_movies').html();
            localStorage.setItem('allLastPage', form)

            var form2 = $('.user_movies').html();
            localStorage.setItem('userLastPage', form2)

            localStorage.setItem('prevPerPage', <%= @user.movies_per_page %>)
        };

        $(document).ready(function () {

            $('#movieTab a[data-toggle="tab"]').on('shown', function (e) {
                //save the latest tab; use cookies if you like 'em better:
                localStorage.setItem('lastTab', $(e.target).attr('href'));
            });

            //go to the latest tab, if it exists:
            var lastTab = localStorage.getItem('lastTab');
            if (lastTab != null) {
                $('ul.nav-tabs').children().removeClass('active');
                $('a[href=' + lastTab + ']').parents('li:first').addClass('active');
                $('div.tab-content').children().removeClass('active');
                $(lastTab).addClass('active');
            } else {
                $('a[href=#user_library]').parents('li:first').addClass('active');
                $('div#user_library').addClass('active');
            }

            var mpp = <%= @user.movies_per_page %>;
            if ( mpp == localStorage.getItem('prevPerPage')) {
                var allLastPage = localStorage.getItem('allLastPage');
                if (allLastPage) {
                    $('.all_movies').html(allLastPage)
                }

                var userLastPage = localStorage.getItem('userLastPage');
                if (userLastPage) {
                    $('.user_movies').html(userLastPage)
                }
            }
        });
  </script>
<% else %>
    <div class="center hero-unit">
        <h2>
            Welcome to Have I Seen It!
        </h2>
        <%= link_to "Sign-Up Now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
<% end %>


