

<% if !@user.nil? %>
    <%= link_to "Add a Movie", new_movie_path, class: "btn"%><br><br>
    <h3>Your Library</h3>
    <%= will_paginate %>
    <ul class="users">
      <%= render @movies %>
    </ul>
    <%= will_paginate %>
    <br>
<% end %>
<h3>All Movies</h3>
<%= will_paginate %>
<ul class="users">
  <%= render @all_movies %>
</ul>
<%= will_paginate %>

