<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span8">
    <section>
      <h1>
        <%= @movie.name %>
      </h1>


    <p>
      <b>Rating:</b>
      <%= @movie.rating %>
    </p>

    <p>
      <b>Year:</b>
      <%= @movie.year %>
    </p>

    <p>
      <b>Description:</b>
      <%= @movie.description %>
    </p>

    <div class="link">
      <%= link_to 'Edit', edit_movie_path(@movie) %> |
      <%= link_to 'Back', movies_path %>
    </div>
  </aside>
</div>
