<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span8">
    <section>
      <h1>
        <%= @movie.name %>
      </h1>


    <p>
      <b>Rating:</b>
      <%= @movie.rating %>
    </p>

    <p>
      <b>Year:</b>
      <%= @movie.year %>
    </p>

    <p>
      <b>Description:</b>
      <%= @movie.description %>
    </p>

    <% @movie.actors.each do |actor| %>
      <% if actor == @movie.actors.last %>
        <%= link_to "#{actor.name}", actor %>
      <% else %>
        <%= link_to "#{actor.name}, ", actor %>
      <% end %>
    <% end %>

    <div class="link">
      <%= link_to 'Back', movies_path %>
    </div>
  </aside>
</div>
