<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "HaveISeenIt", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Welcome #{current_user.name}" %></li>
            <li>
              <a href="#myModal" data-toggle="modal">Search</a>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>


  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Search</h3>
  </div>
  
    <script>
         function ClearTextBox()
         {
             document.getElementById('search_field').value = ""
         }
    </script>
    <%= form_tag :controller => 'search', :action => 'search', :method => 'get' do %>
      <div class="modal-body">
        <%= text_field_tag :search, params[:search], :id => 'search_field' %>
      </div>
      <div class="modal-footer">
      <%= submit_tag "Search", :name => nil, :class => "btn"%>
      <%= link_to_function "Clear", "ClearTextBox()", :class => "btn"%>
      </div>
    <% end %> 
  
</div>
</header>

